.container {
	margin: 3%;
}

.center-aligned {
    text-align: center;
}

.section {
    margin-bottom: 3%;
}

table{
	/*border: 3px solid red;*/
    width: 100%;
}

td{
    /*border: 1px solid green;*/
    padding: 1%;
}

th{
    /*border: 2px solid blue;*/
    padding: 1%;
}

.no-padding {
    padding: 0% !important;
}

.equal-width {
    table-layout: fixed !important;
}

.bright-checkbox {
    outline: 2px solid #4430b8;
}

.disable_div {
    pointer-events:none;
    background: #DCDCDC;
}